iframe{
  width: 150%;
  height: 150%;
  transform: scale(0.66);
}
.iframe_container{
  width: 100vh;
  height: 100vh;
}

.chart-area {
  width: 15%;
  height: 18%;
  margin : 5em;
}

.pie-chart-area {
  width: 1%;
  height: 1%;
  margin : 5em 10em;
}

.shadow {
  filter: drop-shadow( 0px 5px 4px rgba(0, 0, 0, .6));
}

.shadow-filters {
  filter: drop-shadow( 0px 5px 4px rgba(0, 0, 0, .6));
  border: 2px solid black;
}

svg {
  font: 10px sans-serif;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

mat-expansion-panel{
  background: var(--light);
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow-x: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: lightseagreen;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #b2d8d8;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid lightseagreen;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: lightseagreen;
}

mat-paginator,mat-table{
  background: rgba(255,255,255,0.45);
  border-radius: 5px;
  border-bottom: 2px solid lightseagreen;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.area {
  opacity: 0.8;
}

.chart-wrapper {
  width: 100vw;
  height: 100vh;
  //display: flex;
  //justify-content: flex-start;
  //align-items: start;
  filter: drop-shadow( 0px 5px 4px rgba(0, 0, 0, .6));
}

.stacked-chart-container {
  width: 100%;
  height: 400px;
}

path.layer {
  stroke: #000;
  stroke-width: 0.5;
}


select-menu {
  max-width: 330px;
  margin: 50px auto;
}
.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.select-menu .options {
  position: absolute;
  width: 330px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-btn i {
  font-size: 25px;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }}


.bar {
  fill-opacity: 0.8;
}



.chart-container {
   position: relative;
   width: 100%;
   height: 100%;
 }

.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: white;
  border: 1px solid #ddd;
  pointer-events: none;
}

.chart-title {
  font-size: 16px;
  font-weight: bold;
}

.chart-label {
  font-size: 12px;
}

.chart-source, .copyright {
  font-size: 10px;
}

.legend {
  font-size: 12px;
}
