<ngx-spinner size="medium" type="ball-circus"></ngx-spinner>
<!-- Insights -->
<!--<ul class="insights">-->
<!--  <li>-->
<!--    <i class='bx bx-calendar-check'></i>-->
<!--    <span class="info">-->
<!--                        <h3 id="legacyCalls"></h3>-->
<!--                        <p>Legacy Calls</p>-->
<!--                    </span>-->
<!--  </li>-->
<!--  <li><i class='bx bxs-user-detail'></i>-->
<!--    <span class="info">-->
<!--                        <h3 id="queriesSolved"></h3>-->
<!--                        <p>Queries Resolved</p>-->
<!--                    </span>-->
<!--  </li>-->
<!--  <li><i class='bx bx-line-chart'></i>-->
<!--    <span class="info">-->
<!--                        <h3 id="reportingProgress"></h3>-->
<!--                        <p>Reporting Files</p>-->
<!--                    </span>-->
<!--  </li>-->
<!--  <li><i class='bx bxs-user-voice'></i>-->
<!--    <span class="info">-->
<!--                        <h3 id="totalQueries"></h3>-->
<!--                        <p>Total Queries</p>-->
<!--                    </span>-->
<!--  </li>-->
<!--</ul>-->

<div class="bottom-data">
  <div class="orders" >
<!--    <div class="header">-->
<!--      <h3 style="color: crimson">Manager Dashboard</h3>-->
<!--      <i class='bx bx-search'></i>-->
<!--      <i class='bx bx-filter'></i>-->
<!--    </div>-->
    <!-- End of Insights -->

    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt' style="color: #01BAEF"></i>
          <h3>Agents Details</h3>
<!--          <i class='bx bx-filter'></i>-->
<!--          <i class='bx bx-search'></i>-->
        </div>
<!--        <div style="display: flex; justify-content: center; align-items: center;">-->
<!--          <p *ngIf="learnerList.length == 0">No Records to Display</p>-->
<!--        </div>-->
        <table *ngIf="learnerList.length > 0; else noRecords" class="content-table">
          <thead>
          <tr >

            <th style="text-align: center">AGENT NAME</th>
            <th>COMPLETION DATE</th>
            <th>LEARNING PROGRAM</th>
            <th>LAST LOGGED_IN</th>
            <th></th>
          </tr>
          </thead>

          <tbody >
          <tr *ngFor="let user of learnerList">
            <td style="text-align: center">
              <img src="./assets/avatar.jfif" alt="iconPic">
            {{ user.agentName }}
            </td>
            <td >{{ user.trainingEndDate? (user.trainingEndDate | date): 'Not Started' }}</td>
            <td  style="text-align: center"><button mat-mini-fab color="accent" matTooltip="{{ user.trainingCourse? user.trainingCourse : 'No Training Program' }}" matTooltipPosition="left" matTooltipClass="my-custom-tooltip" ><mat-icon>extension</mat-icon></button></td>
            <td  style="text-align: center">{{ user.lastLoggedIn | date }}</td>
            <td></td>
          </tr>
          </tbody>
        </table>

        <ng-template #noRecords><p style="text-align: center; font-weight: bolder">No Records to Display</p></ng-template>
      </div>

      <!-- Reminders -->
<!--      <div class="reminders">-->
<!--        <div class="header">-->
<!--          <i class='bx bx-alarm-exclamation' style="color: crimson"></i>-->
<!--          <h3>Unreviewed Agents</h3>-->
<!--        </div>-->
<!--        <div style="display: flex; justify-content: center; align-items: center;">-->
<!--          <p *ngIf="unreviewedData.length == 0">No Records to Display</p>-->
<!--        </div>-->
<!--        <ul class="task-list" *ngFor="let pendingRev of unreviewedData">-->
<!--          <li class="completed" [@slide]>-->
<!--            <div class="task-title">-->
<!--              <i class='bx bx-x-circle'></i>-->
<!--              <p >{{pendingRev.agentName}}</p>-->
<!--            </div>-->
<!--            <i class='bx bx-dots-vertical-rounded'></i>-->
<!--          </li>-->
<!--          <br>-->
<!--        </ul>-->
<!--      </div>-->

      <!-- End of Reminders-->
      <div>
      <ul class="insights">
          <li [@slide]>
<!--            <i class='bx bx-calendar-check'></i>-->
            <i class='bx bxs-alarm-add' matTooltip="Click to move to Review Section" matTooltipPosition="above" routerLink="/dashboard/review"></i>
            <span class="info">
                                <h3 id="unReviewed">{{reviewData.length}}</h3>
                                <p>Pending Reviews</p>
                            </span>
          </li>

        <li [@slide]>
          <!--          <i class='bx bxs-user-detail'></i>-->
          <i class='bx bx-body' matTooltip="{{taggedAgents | tooltipList}}"
             matTooltipPosition="left" matTooltipClass="tooltip-list"></i>
          <span class="info">
                                  <h3 id="activeLogins">4</h3>
                                  <p>Agents LoggedIn Today</p>
                              </span>
        </li>

        <li [@slide]>
<!--          <i class='bx bxs-user-detail'></i>-->
          <i class='bx bx-world' matTooltip="{{taggedAgents | tooltipAgents}}"
             matTooltipPosition="left" matTooltipClass="tooltip-list"></i>
              <span class="info">
                                  <h3 id="totalQueries">{{taggedAgents.length}}</h3>
                                  <p>Reporting Agents</p>
                              </span>
            </li>
<!--            <li [@slide]>-->
<!--&lt;!&ndash;              <i class='bx bx-line-chart'></i>&ndash;&gt;-->
<!--              <i class='bx bx-body'></i>-->
<!--              <span class="info">-->
<!--                                  <h3 id="totalLearners">{{learnerList.length}}</h3>-->
<!--                                  <p>Total Learners</p>-->
<!--                              </span>-->
<!--            </li>-->
      </ul>
      </div>
    </div><br><br>

  </div></div>
<br>
