<!-- End of Insights -->

<div class="bottom-data">
  <div class="orders">
    <div class="header">
      <i class='bx bx-receipt'></i>
      <h3>Recent Details</h3>
      <i class='bx bx-filter'></i>
      <i class='bx bx-search'></i>
    </div>
    <table>
      <thead>
      <tr>
        <th>Support Agent</th>
        <th>Assistance Date</th>
        <th>Resolution Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <!--              <img src="images/profile-1.jpg"> -->
          <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">
          <p>Travis Head</p>
        </td>
        <td>02-08-2023</td>
        <td><span class="status completed">Completed</span></td>
      </tr>
      <tr>
        <td>
          <!--              <img src="images/profile-1.jpg">-->
          <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">
          <p>Mark Boucher</p>
        </td>
        <td>24-08-2023</td>
        <td><span class="status pending">Pending</span></td>
      </tr>
      <tr>
        <td>
          <!--              <img src="images/profile-1.jpg">-->
          <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">
          <p>Adam Zampa</p>
        </td>
        <td>03-08-2023</td>
        <td><span class="status process">Processing</span></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Reminders -->
  <div class="reminders">
    <div class="header">
      <i class='bx bx-alarm-exclamation'></i>
      <h3>Alerts</h3>
      <i class='bx bx-filter'></i>
      <i class='bx bx-plus'></i>
    </div>
    <ul class="task-list">
      <li class="completed">
        <div class="task-title">
          <i class='bx bx-check-circle'></i>
          <p>James Anderson</p>
        </div>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      <li class="completed">
        <div class="task-title">
          <i class='bx bx-check-circle'></i>
          <p>Stuart Broad</p>
        </div>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      <li class="not-completed">
        <div class="task-title">
          <i class='bx bx-x-circle'></i>
          <p>Johnny Bairstow</p>
        </div>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
    </ul>
  </div>

  <!-- End of Reminders-->

</div><br><br>
