
<!--&lt;!&ndash; Sidebar &ndash;&gt;-->
<!--<div class="sidebar">-->
<!--  <a href="#" class="logo">-->
<!--    <i class='bx bxs-network-chart'></i>-->
<!--    <div class="logo-name"><span>QC</span> Portal</div>-->
<!--  </a>-->
<!--  <ul class="side-menu">-->
<!--    <li><a href="#"><i class='bx bxs-dashboard'></i>Dashboard</a></li>-->
<!--    <li><a href="#"><i class='bx bxs-user-badge'></i>Admin</a></li>-->
<!--    <li ><a href="#"><i class='bx bxs-user-account'></i>User</a></li>-->
<!--    <li><a href="#"><i class='bx bxs-user-pin' ></i>Manager</a></li>-->
<!--    <li><a href="#"><i class='bx bxs-user-voice'></i>-->
<!--      <span class="text">Call Based Analyzer</span></a></li>-->
<!--    <li><a href="#"><i class='bx bx-cog'></i>Settings</a></li>-->
<!--  </ul>-->
<!--  <ul class="side-menu">-->
<!--    <li>-->
<!--      <a href="#" class="logout">-->
<!--        <i class='bx bx-log-out-circle'></i>-->
<!--        Logout-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<!--&lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--&lt;!&ndash; Main Content &ndash;&gt;-->
<!--<div class="content">-->
<!--  &lt;!&ndash; Navbar &ndash;&gt;-->
<!--  <nav>-->
<!--    <i class='bx bx-menu'></i>-->
<!--    <form action="#">-->
<!--      <div class="form-input">-->
<!--          <input type="search" placeholder="Search...">-->
<!--          <button type="button" class="search-btn"><i class='bx bx-search'></i></button>-->
<!--      </div>-->
<!--    </form>-->
<!--&lt;!&ndash;    <mat-slide-toggle class="activate-dark">Dark Mode</mat-slide-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;    <i class='bx bx-moon'></i>&ndash;&gt;-->
<!--    <input type="checkbox" id="theme-toggle" hidden>-->
<!--    <label for="theme-toggle" class="theme-toggle"></label>-->
<!--    <a href="#" class="notif">-->
<!--      <i class='bx bx-bell'></i>-->
<!--      <span class="count">12</span>-->
<!--    </a>-->
<!--    <a href="#" class="profile">-->
<!--      <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">-->
<!--    </a>-->
<!--  </nav>-->

<!--  &lt;!&ndash; End of Navbar &ndash;&gt;-->

<!--  <main>-->
<!--    <div class="header">-->
<!--      <div class="left">-->
<!--        <h1>Dashboard</h1>-->
<!--        <ul class="breadcrumb">-->
<!--          <li><a href="#">-->
<!--            Service-->
<!--          </a></li>-->
<!--          >-->
<!--          <li><a href="#" class="active">Call Sentiments Analytics</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--&lt;!&ndash;      <a href="#" class="report">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class='bx bx-cloud-download'></i>&ndash;&gt;-->
<!--&lt;!&ndash;        <span>Download CSV</span>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->
<!--    </div>-->

<!--    &lt;!&ndash; Insights &ndash;&gt;-->
<!--    <ul class="insights">-->
<!--      <li>-->
<!--        <i class='bx bx-calendar-check'></i>-->
<!--        <span class="info">-->
<!--                        <h3>-->
<!--                            74-->
<!--                        </h3>-->
<!--                        <p>Legacy Calls</p>-->
<!--                    </span>-->
<!--      </li>-->
<!--      <li><i class='bx bx-show-alt'></i>-->
<!--        <span class="info">-->
<!--                        <h3>-->
<!--                            44-->
<!--                        </h3>-->
<!--                        <p>Queries Resolved</p>-->
<!--                    </span>-->
<!--      </li>-->
<!--      <li><i class='bx bx-line-chart'></i>-->
<!--        <span class="info">-->
<!--                        <h3>-->
<!--                            21-->
<!--                        </h3>-->
<!--                        <p>Queries Pending</p>-->
<!--                    </span>-->
<!--      </li>-->
<!--      <li><i class='bx bx-dollar-circle'></i>-->
<!--        <span class="info">-->
<!--                        <h3>-->
<!--                            65-->
<!--                        </h3>-->
<!--                        <p>Total Queries</p>-->
<!--                    </span>-->
<!--      </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; End of Insights &ndash;&gt;-->

<!--    <div class="bottom-data">-->
<!--      <div class="orders">-->
<!--        <div class="header">-->
<!--          <i class='bx bx-receipt'></i>-->
<!--          <h3>Recent Report</h3>-->
<!--          <i class='bx bx-filter'></i>-->
<!--          <i class='bx bx-search'></i>-->
<!--        </div>-->
<!--        <table>-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Support Agent</th>-->
<!--            <th>Assistance Date</th>-->
<!--            <th>Resolution Status</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>-->
<!--&lt;!&ndash;              <img src="images/profile-1.jpg"> &ndash;&gt;-->
<!--              <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">-->
<!--              <p>John Doe</p>-->
<!--            </td>-->
<!--            <td>14-08-2023</td>-->
<!--            <td><span class="status completed">Completed</span></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--&lt;!&ndash;              <img src="images/profile-1.jpg">&ndash;&gt;-->
<!--              <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">-->
<!--              <p>John Doe</p>-->
<!--            </td>-->
<!--            <td>14-08-2023</td>-->
<!--            <td><span class="status pending">Pending</span></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--&lt;!&ndash;              <img src="images/profile-1.jpg">&ndash;&gt;-->
<!--              <img src="https://img.freepik.com/premium-vector/young-smiling-man-adam-avatar-3d-vector-people-character-illustration-cartoon-minimal-style_365941-687.jpg?size=626&ext=jpg&ga=GA1.1.1501489291.1686632962&semt=ais">-->
<!--              <p>John Doe</p>-->
<!--            </td>-->
<!--            <td>14-08-2023</td>-->
<!--            <td><span class="status process">Processing</span></td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->

<!--      &lt;!&ndash; Reminders &ndash;&gt;-->
<!--      <div class="reminders">-->
<!--        <div class="header">-->
<!--          <i class='bx bx-note'></i>-->
<!--          <h3>Alerts</h3>-->
<!--          <i class='bx bx-filter'></i>-->
<!--          <i class='bx bx-plus'></i>-->
<!--        </div>-->
<!--        <ul class="task-list">-->
<!--          <li class="completed">-->
<!--            <div class="task-title">-->
<!--              <i class='bx bx-check-circle'></i>-->
<!--              <p>Jim Carter</p>-->
<!--            </div>-->
<!--            <i class='bx bx-dots-vertical-rounded'></i>-->
<!--          </li>-->
<!--          <li class="completed">-->
<!--            <div class="task-title">-->
<!--              <i class='bx bx-check-circle'></i>-->
<!--              <p>Jeff Nadela</p>-->
<!--            </div>-->
<!--            <i class='bx bx-dots-vertical-rounded'></i>-->
<!--          </li>-->
<!--          <li class="not-completed">-->
<!--            <div class="task-title">-->
<!--              <i class='bx bx-x-circle'></i>-->
<!--              <p>Satya Bezos</p>-->
<!--            </div>-->
<!--            <i class='bx bx-dots-vertical-rounded'></i>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      &lt;!&ndash; End of Reminders&ndash;&gt;-->

<!--    </div>-->

<!--  </main>-->

<!--</div>-->

<router-outlet></router-outlet>
<!--<app-login></app-login>-->
