
<div class="remarkDialog">
  <h2 style="text-align: center">Required Action</h2><br>

  <mat-chip-listbox aria-label="Action Chips" style="padding-left: 20%">
    <mat-chip-option matTooltip="Click to select {{chip.label}} window" matTooltipPosition="above" *ngFor="let chip of chipList;let idx = index" (click)="chipSelected(chip)" [color]="colors[idx].color">{{chip.label}} </mat-chip-option>
  </mat-chip-listbox><br>

  <div *ngIf="enableTraining">

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Training Programs</mat-label>
    <mat-select [(ngModel)]="trainingProgram" name="program">
      <mat-option *ngFor="let program of trainingPrograms"  [value]="program">
        {{program}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label>Choose a start date</mat-label>-->
<!--    <input matInput [matDatepicker]="picker" [(ngModel)]="trainingStartDate" [ngModelOptions]="{standalone: true}">-->
<!--    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--  </mat-form-field>&nbsp;&nbsp;-->

  <mat-form-field appearance="outline" style="width: 60%">
<!--    <mat-label>Choose an end date</mat-label>-->
<!--    <input matInput [matDatepicker]="endDate" [(ngModel)]="trainingEndDate" [ngModelOptions]="{standalone: true}" >-->
<!--    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #endDate></mat-datepicker>-->

    <mat-label>Select Date Range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="trainingStartDate" placeholder="Start date">
      <input matEndDate [(ngModel)]="trainingEndDate" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>Note: End date is exclusive</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field><br><br>

<!--  <mat-form-field appearance="outline" style="width: 45%" >-->
<!--    <mat-label>Training Flag</mat-label>-->
<!--    <input matInput [(ngModel)]="trainingFlag" [ngModelOptions]="{standalone: true}" >-->
<!--  </mat-form-field>&nbsp;<br>-->

<!--<mat-form-field appearance="outline" style="width: 100%" >-->
<!--  <mat-label>Remarks</mat-label>-->
<!--  <input matInput [(ngModel)]="editedRemark" [ngModelOptions]="{standalone: true}" >-->
<!--</mat-form-field>&nbsp;<br>-->

<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;
  <button mat-raised-button color="warn" (click)="resetForm()">Reset</button>
  </div>
</div>


<!--<div class="remarkDialog">-->
<!--  <h2>Provide Training Details</h2><br>-->
<!--  &lt;!&ndash;  <mat-form-field appearance="outline" style="width: 100%" >&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-label>Training Course Name</mat-label>&ndash;&gt;-->
<!--  &lt;!&ndash;    <input matInput [(ngModel)]="trainingProgram" [ngModelOptions]="{standalone: true}" >&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-form-field>&nbsp;<br>&ndash;&gt;-->



<!--  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>&nbsp;&nbsp;-->
<!--  <button mat-raised-button color="warn" >Reset</button>-->

<!--</div>-->
