
<ngx-spinner size="medium" type="ball-circus"></ngx-spinner>

<div class="bottom-data">
  <div class="orders" >
    <div class="header">
      <h2>REVIEW PAGE</h2>
      <button style="float: right" mat-fab color="accent"
              matTooltip="Review Page Details"
              matTooltipPosition="right">
        <mat-icon>accessibility_new</mat-icon>
      </button>

    </div>
    <button style="float: left; margin-bottom: 2%" mat-icon-button color="primary"
            matTooltip="Filter Results based on Agent Name, Call Category, Key Scores & Sentiment."
            matTooltipClass="my-custom-tooltip"
            matTooltipPosition="right" (click)="isFilterClicked()">
      <mat-icon>perm_contact_calendar</mat-icon>
    </button>&nbsp;&nbsp;
    <button style="float: left; margin-bottom: 2%" mat-icon-button color="warn"
            matTooltip="Filter Results based on Date Range."
            matTooltipClass="my-custom-tooltip"
            matTooltipPosition="right" (click)="isDateFilterClicked()">
      <mat-icon>event</mat-icon>
    </button>
    <mat-form-field *ngIf="$filterClicked" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Eg. Credit Card">
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field *ngIf="$dateFilterClicked" appearance="outline" color="warn">
      <mat-label>Select Date Range</mat-label>
      <mat-date-range-input  [rangePicker]="picker">
        <input matStartDate [(ngModel)]="startDate" placeholder="Start date">
        <input matEndDate [(ngModel)]="endDate" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>Note: End date is exclusive</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-date-range-picker #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="filterData()">Apply</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>

    </mat-form-field>

    <div >
    <table *ngIf="reviewData" class="content-table">
      <thead>
      <tr>
        <th></th>
<!--        <th style="text-align: center">AGENT_ID</th>-->
        <th>AGENT_NAME</th>
        <th>CALL_CATEGORY</th>
        <th>CUSTOMER_QUERY</th>
        <th>SUMMARY</th>
        <th>AUDIO_PLAYBACK</th>
        <th>KEY SCORE</th>
        <th>AGENT_SENTIMENT</th>
<!--        <th>CALL_HOLD_PERMISSION</th>-->
<!--        <th>TRANSFER_PERMISSION</th>-->
        <th >DATE & TIMESTAMP</th>
        <th style="text-align: center">ACTION</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of pagedData"  [ngStyle]="{'background': user.keyScore < 60 ? '#FECDD3' : ''}">
        <td></td>
<!--        <td >{{ user.agentId }}</td>-->
        <td>{{user.agentName.toString().toUpperCase()}}</td>
        <td><strong>{{ user.callCategory.toString().toUpperCase() }}</strong></td>
        <td><button mat-mini-fab color="warn" matTooltip="{{ user.customerProblem }}" matTooltipPosition="right" matTooltipClass="my-custom-tooltip"><mat-icon>language</mat-icon></button></td>
        <td><button mat-mini-fab color="accent" matTooltip="{{ user.summary }}" matTooltipPosition="right" matTooltipClass="my-custom-tooltip"><mat-icon>assignment_ind</mat-icon></button></td>
        <td><button mat-mini-fab color="primary" matTooltip="Audio Playback" matTooltipPosition="above" (click)="openAudioDialog(user.callId)"><mat-icon>settings_phone</mat-icon></button></td>
        <td [ngStyle]="{'color': user.keyScore < 60 ? 'crimson' : '','font-weight': user.keyScore < 60 ? 'bold': ''}">{{user.keyScore}}</td>
        <td>{{ user.custSuppSentiment.toString().toUpperCase() }}</td>
<!--        <td>{{ user.callHoldPermission }}</td>-->
<!--        <td>{{ user.transferPermission }}</td>-->
        <td>{{ user.dateTime | date : 'medium' }}</td>
        <td><button mat-mini-fab matTooltip="Take required Action." matTooltipPosition="above" (click)="actionHelper(user)"><mat-icon>assignment</mat-icon></button></td>
      </tr>

      </tbody>
    </table>
      <mat-paginator
        [length]="filteredReviewData?.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        (page)="onPageChange($event)"
      ></mat-paginator>
      </div>
  </div></div>
<br>
